.App {
  height: 100vh;
  width: 100vw;
}

.body {
  display: flex;
  margin: 0px;
  padding: 0px;
}
.sideBar {
  height: 625px;
  width: 60px;
  text-align: center;
  background-color: #021029;
}

.icon {
  display: block;
  font-size: 0px;
  padding: 15px 0px;
  color: white;
  margin-bottom: 50px;
  text-align: center;
}

.icon:hover {
  background-color: white;
}

.Text {
  margin: -600px;
  margin-left: -130%;
  text-align: center;
  justify-content: center;
}

.icon-active link {
  color: white;
}

icon:hover link,
.icon-active link {
  color: #45b29d;
}

.icon:hover,
.icon-active {
  color: #c0c2c1;
  cursor: pointer;
}
.icon link {
  text-decoration: none;
  color: #6b6a72;
  font-size: 1.5rem;
}

.dashboard {
  position: absolute;
  margin: 100px;
  margin-top: -600px;
  width: 1236px;
  height: 587px;
  border-style: inset;
  border-color: black;
  background-color: white;
}

.dashboardone {
  position: absolute;
  margin: 100px;
  margin-top: -500px;
  margin-left: 108px;
  width: 400px;
  height: 450px;
  border-style: inset;
  border-color: black;
  background-color: white;
}
.dashboardtwo {
  position: absolute;
  margin: 100px;
  margin-top: -500px;
  margin-left: 518px;
  width: 400px;
  height: 450px;
  border-style: inset;
  border-color: black;
  background-color: white;
}

.dashboardthree {
  position: absolute;
  margin: 100px;
  margin-top: -500px;
  margin-left: 928px;
  width: 400px;
  height: 450px;
  border-style: inset;
  border-color: black;
  background-color: white;
}

/*
.dashboardtwo {
  position: absolute;
  margin: 100px;
  margin-top: -600px;

  width: 330px;
  height: 522px;
  background-color: white;
}

.dashboardthree {
  position: absolute;
  margin: 100px;
  margin-top: -600px;

  width: 113px;
  height: 522px;
  background-color: white;
}
*/
